$magenta: hsl(300, 43%, 22%);
$soft_pink: hsl(333, 80%, 67%);
$dark_grayish_magenta: hsl(303, 10%, 53%);
$light_grayish_magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$font: 0.9375rem;

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
